
{% extends "FrontendBundle::layout.html.twig" %}

{% block container %}

<div class="hero-unit">
    <img class="hero-icon" src="{{ asset('bundles/ceepsfrontend/img/hand_cursor_T.png') }}" >
    <h1>Error 403</h1>
    <p>No está autorizado a acceder a esta página.</p>
    <p><a class="btn btn-large btn-primary" href="javascript:window.history.back();" >Volver »</a></p>
</div>

{% endblock %}