{% extends "BackendBundle::layout.html.twig" %}

{% block content %}
<section id="list">
    <div class="page-header">
        <h2>Listado de titulaciones</h2>
    </div>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('backend_degree_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>
                    <a href="{{ path('backend_degree_show', { 'id': entity.id }) }}"><i class="icon-search"></i> Mostrar</a>
                    <a href="{{ path('backend_degree_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>


{% endblock %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header">Acciones</li>
    <li><a href="{{ path('backend_degree_new') }}"><i class="icon-plus-sign"></i> Crear una nueva titulación</a></li>
</ul>
{% endblock %}