{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Inscripción en {{ entity.activity }}{% endblock %}

{% block content %}

<form class="form-horizontal" action="{{ path('activity_enroll', { 'slug': entity.activity.slug }) }}" method="post" {{ form_enctype(form) }}>
    <legend>Estás a punto de inscribirte en {{ entity.activity }}.</legend>
    <p>Si quieres puedes hacernos llegar un comentario a través del siguiente formulario.</p>
    {{ form_widget(form) }}
    <fieldset class="form-actions">
        <button class="btn btn-primary" type="submit">¡Inscríbeme ya!</button>
    </fieldset>
</form>
{% endblock %}
