{% extends "FrontendBundle::layout.html.twig" %}

{% macro registration(starts, ends) %}
    {%- if date(starts) > date() %}
        El plazo comienza el {{ starts | date('d/m') }}.
    {% elseif date(ends) < date() %}
        El plazo ha terminado.
    {% elseif not starts  %}
        Desconocido.
    {% else %}
        Abierto hasta el {{ ends | date('d/m')  }}.
    {% endif -%}
{% endmacro %}

{% block title %}Listado de actividades{% endblock %}        
        
{% block content %}

<div class="marketing">
<h1>{{ title }}</h1>
    <div class="row">
        {% for entity in entities %}
        <div class="span9 post-meta">
            <hr class="soften">
            <h2 class="wrap">
                {% if entity.startsAt %}
                <span class="month">{{ entity.startsAt | localeDate('long', 'none', null, 'LLL') }}<span class="year">{{ entity.startsAt | date('Y') }}</span></span>
                <span class="day">{{ entity.startsAt | date('d') }}</span> <a href="{{ path('activity_show', {'slug': entity.slug }) }}">{{ entity.name }}</a>
                {% else %}
                <span class="month">Sin<span class="year">Fecha</span></span>
                <span class="day">&nbsp;--</span> <a href="{{ path('activity_show', {'slug': entity.slug }) }}">{{ entity.name }}</a>           
                {% endif %}
                <span style="float: right;">
                {%- if app.user and app.user.isEnrolled(entity) %}
                        <small>Inscrito</small>
                {% elseif entity.isFull %}
                        <small>Plazas agotadas</small>
                {% elseif entity.isOpen == true %}
                    <a href="{{ path('activity_enroll', {'slug': entity.slug}) }}">
                        <i style="margin-top: 7px;" class="icon-edit"></i> Inscríbete
                    </a>
                {% endif -%}
                </span>
            </h2>
            <div class="row">
                <div class="span1">&nbsp;</div>
                <div class="span8">{{ entity.description }}</div>
            </div>
            <div class="row">
                <div class="span1">&nbsp;</div>
                <div class="span4">
                    <span class="label">Periodo de inscripción:</span> {{ _self.registration(entity.registrationStartsAt, entity.registrationEndsAt) }}
                </div>
                <div class="span1">
                    <span class="label">Plazas:</span> {{ ( entity.seats?entity.seatsLeft:"&infin;" ) | raw }}
                </div>
                <div class="span3">
                    <span class="label">Inscripción:</span> {% if entity.price == 0  %}Gratuitas{% else %}{{ entity.price }} €{% endif %}{% if entity.deposit > 0 %} (Fianza de {{ entity.deposit }} €){% endif %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="span9 post-meta">
            <hr class="soften">
            <div class="row">
                <div class="span1">&nbsp;</div>
                <div class="span8">Oops. Parece que no hay nada aún.</div>
            </div>
        </div>    
        {% endfor %}
    </div>
</div>

{% endblock %}
