{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Actividad "{{ entity.name }}"{% endblock %}


{% block content %}

<section id="show">
    <div class="page-header">
        <h3>{{ entity.name }}
        <span style="float: right;">
                    {%- if app.user and app.user.isEnrolled(entity) %}
                            <small>Inscrito</small>
                    {% elseif entity.isFull %}
                            <small>Plazas agotadas</small>
                    {% elseif entity.isOpen == true %}
                        <a href="{{ path('activity_enroll', {'slug': entity.slug}) }}">
                            <i style="margin-top: 7px;" class="icon-edit"></i> Inscríbete
                        </a>
                    {% endif -%}
                    </span>
        </h3>
    </div>
        <h3>Descripción</h3>
        <p>{{ entity.description }}</p>
        <p>Más información: <a href="{{ entity.url }}">{{ entity.url }}</a></p>
        <h3>Periodo de inscripción</h3>
        <p>Del {{ entity.registrationstartsat| localeDate('full') }} al {{ entity.registrationendsat| localeDate('full') }}</p>
        <h3>Plazas</h3> 
        <dl class="list">
            {% if entity.seats > 0 %}
            <dt>Plazas totales</dt>
            <dd>{{ entity.seats }}</dd>
            <dt>Plazas disponibles</dt>
            <dd>{{ entity.seatsLeft }}</dd>
            {% else %}
            <dt>Plazas totales</dt>
            <dd>Sin límite</dd>
            {% endif %}
            <dt>Precio</dt>
            {% if entity.price %}
            <dd>{{ entity.price }} €</dd>
            {% else %}
            <dd>Gratuita</dd>
            {% endif %}
            {% if entity.deposit %}
            <dt>Fianza</dt>
            <dd>{{ entity.deposit }} €</dd>
            {% endif %}
        </dl>
</section>
        

{% endblock %}