
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{%block title%}CEEPS | Gestión de actividades{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
{% block stylesheets %}
    <link href="{{ asset('bundles/core/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
    {% block bundlecss %}{% endblock bundlecss %}
    <link href="{{ asset('bundles/core/css/bootstrap-responsive.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="http://consejo-eps.uco.es/wp-content/uploads/2010/11/ceeps.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    {% block navbar %}
    {% endblock navbar %}

      
    <div class="container">
    {% block container %}
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% block sidebar %}{% endblock sidebar %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
        {% block flash %}
            {% for status in ['success', 'info', 'danger', 'error'] %}
                {% if app.session.hasFlash(status) %}
                <div class="alert alert-{{ status }} fade in">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    {{ app.session.flash(status) | raw }}
                </div>
                {% endif %}
            {% endfor %}
        {% endblock %}
        {% block content %}{% endblock content %}
        </div><!--/span-->
      </div><!--/row-->
    {% endblock container %}
      
      <hr>

      <footer>
        <p>{% block footer %}&copy; 2012 CEEPS | Consejo de Estudiantes de la EPS{% endblock %}</p>
      </footer>

    </div><!--container-->

{% block javascripts %}
<script src="{{ asset('bundles/core/js/jquery-1.7.1.min.js') }}"></script>
<script src="{{ asset('bundles/core/js/bootstrap.min.js') }}"></script>
{% endblock javascripts %}

  </body>
</html>
