{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-inline">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block field_label %}
{% spaceless %}
    {% set attr = attr|merge({'class': 'control-label'}) %}            
    {{ block('generic_label') }}
{% endspaceless %}
{% endblock field_label %}
            
{% block field_row %}
{% spaceless %}
    {% if errors|length > 0 %}
            {%  set error = 'error' %}
    {% else %}
            {% set error = '' %}
    {% endif %}
    {% if not attr.class is defined %}
            {% set class = 'span4' %}
    {% else %}
            {% set class = attr.class %}
    {% endif %}
    <div class="control-group {{ error }}">
        {{ form_label(form) }}
        <div class="controls">
            {{ form_widget(form, { 'attr': {'class': class } }) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock %}
