{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pagination pagination-centered">
    <span class="span7">
    <ul>
    {% if first is defined and current != first %}
        <li class="prev">
        	<a href="{{ path(route, query|merge({'page': first})) }}">&lt;&lt;</a>
        </li>
    {% endif %}

    {% if previous is defined %}
        <li class="prev">
        	<a href="{{ path(route, query|merge({'page': previous})) }}">&lt;</a>
        </li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li class="page">
            	<a href="{{ path(route, query|merge({'page': page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="active">
                <a href="{{ path(route, query|merge({'page': page})) }}">{{ page }}</a>
            </li>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <li class="page">
        	<a href="{{ path(route, query|merge({'page': next})) }}">&gt;</a>
        </li>
    {% endif %}

    {% if last is defined and current != last %}
        <li class="next">
        	<a href="{{ path(route, query|merge({'page': last})) }}">&gt;&gt;</a>
        </li>
    {% endif %}
    </ul>
    </span>
</div>
{% endif %}
