{% extends "::base.html.twig" %}

{% block bundlecss %}
<link href="{{ asset('bundles/core/css/frontend.css') }}" type="text/css" rel="stylesheet" />
{% endblock bundlecss %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('activity') }}">
                Actividades
            </a>
                
            {% if app.user %}
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img style="vertical-align: bottom;" class="gravatar" alt="Gravatar" src="http://www.gravatar.com/avatar/{{ app.user.emailhash }}?s=20&d=mm"/> Bienvenido {{ app.user.username }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('backend') }}">Ir al backend</a></li>
                            {% endif %}
                            <li><a href="{{ path('my_profile_edit') }}">Editar perfil</a></li>
                            <li><a href="{{ path('my_enroll') }}">Mis cursos</a></li>
                            <li><a href="{{ path('my_logout') }}">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                {{ knp_menu_render('FrontendBundle:Builder:loginMenu', { 'currentClass': 'active' }) }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock navbar %}

{% block sidebar %}
{{ knp_menu_render('FrontendBundle:Builder:mainMenu', { 'currentClass': 'active' }) }}
{% endblock sidebar %}
