{% extends "BackendBundle::layout.html.twig" %}

{% block content %}
<section id="list">
    <div class="page-header">
        <h2>Listado de inscripciones <small>{{ activity }}</small></h2>
    </div>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
            <th>Nombre completo</th>
            <th>Fecha de inscripción</th>
            <th>Pagado</th>
            <th>Estado</th>
            <th>Comentarios</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('backend_user_show', { 'id': entity.user.id }) }}">{{ entity.user }}</a></td>
            <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                {% if entity.activity.isFree %}
                    <span class="label label-success">Gratuita</span>
                {% elseif entity.ispaid %}
                    <span class="label label-success">Sí</span>
                {% else %}
                    <span class="label label-important">No</span>
                {% endif %}
            </td>
            <td>
                {% if entity.iscancelled %}
                    <span class="label label-important">Cancelada</span>
                {% else %}
                    <span class="label label-success">Activa</span>
                {% endif %}
            </td>
            <td>{{ entity.comment }}</td>
            <td>
                <a href="{{ path('backend_enrollment_show', { 'id': entity.id }) }}"><i class="icon-search"></i> Mostrar</a>
                <a href="{{ path('backend_enrollment_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> Editar</a>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="6">Aún no hay inscripciones.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header">Acciones</li>
    <li><a href="{{ path ('backend_activity') }}"><i class="icon-home"></i> Volver a la lista de actividades</a></li>
    <li><a href="{{ path('backend_enrollment_new', {'activity': activity.id}) }}"><i class="icon-plus-sign"></i> Crear una nueva inscripción</a></li>
    <li><a href="{{ path('backend_enrollment_send', {'id': activity.id}) }}"><i class="icon-envelope"></i> Enviar un mensaje</a></li>
</ul>
{% endblock %}