{% extends "BackendBundle::layout.html.twig" %}

{% block content %}

<form class="form-horizontal" action="{{ path('backend_enrollment_send', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <legend>Enviar mensaje</legend>
    <p>Si quiere enviar un mensaje a todos los usuarios inscritos, puede hacerlo
        a través de este formulario:
    </p>
    {{ form_widget(form) }}
    <fieldset class="form-actions">
        <button class="primary btn" type="submit">Enviar</button>
    </fieldset>
</form>

{% endblock %}

{% block sidebar %}

<ul class="nav nav-list">
    <li class="nav-header">Acciones</li>
    <li>
        <a class="nav-item" href="{{ path('backend_enrollment', {'id': entity.id }) }}">
            <i class="icon-home"></i> Volver a la lista
        </a>
    </li>
</ul>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}