{% extends "BackendBundle::layout.html.twig" %}

{% block content %}

<section id="show">
    <div class="page-header">
        <h2>Mostrar inscripción de <small>{{ entity.user }}</small>
    </div>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Actividad</th>
                <td>{{ entity.activity }}</td>
            </tr>
            <tr>
                <th>Creada</th>
                <td>{{ entity.createdat | localeDate('long') }}</td>
            </tr>
            <tr>
                <th>Pagada</th>
                <td>
                {% if entity.activity.isFree %}
                    <span class="label label-success">Gratuita</span>
                {% elseif entity.ispaid %}
                    <span class="label label-success">Sí</span>
                {% else %}
                    <span class="label label-important">No</span>
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Cancelada</th>
                <td>
                {% if entity.iscancelled %}
                    <span class="label label-important">Cancelada</span>
                {% else %}
                    <span class="label label-success">Activa</span>
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Comentario</th>
                <td>{{ entity.comment }}</td>
            </tr>
        </tbody>
    </table>
    <div id="erase" class="modal hide fade" style="display: none;">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">×</a>
            <h3>Borrar inscripción</h3>
        </div>
        <div class="modal-body">
        <p>Está a punto de borrar la inscripción de {{ entity.user }}. 
            El proceso es irreversible.</p>
        </div>
        <div class="modal-footer">
        <form action="{{ path('backend_enrollment_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn danger">Borrar</button>
                <a href="#" class="btn secondary" data-dismiss="modal">Cancelar</a>
        </form>
        </div>
    </div>

</section>

        
{% endblock %}

{% block sidebar %}
    <ul class="nav nav-list">
        <li class="nav-header">
            Acciones
        </li>
        <li>
            <a class="nav-item" href="{{ path('backend_enrollment', {'id': entity.activity.id }) }}">
                <i class="icon-home"></i> Volver a la lista
            </a>
        </li>
        <li>
            <a class="nav-item" href="{{ path('backend_enrollment_edit', { 'id': entity.id }) }}">
                <i class="icon-edit"></i> Editar
            </a>
        </li>
        <li>
            <a class="nav-item" data-toggle="modal" href="#erase" >
                <i class="icon-remove"></i> Borrar
            </a>
        </li>
    </ul>
{% endblock %}