{% extends "BackendBundle::layout.html.twig" %}

{% block content %}

<form class="form-horizontal" action="{{ path('backend_activity_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <legend>Editar actividad</legend>
    {{ form_widget(edit_form) }}
    <fieldset class="form-actions">
        <button class="btn btn-primary" type="submit">Editar</button>
        <a class="btn btn-danger" data-toggle="modal" href="#erase" >Borrar</a>
    </fieldset>
</form>

<div id="erase" class="modal hide fade" style="display: none;">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3>Borrar actividad</h3>
    </div>
    <div class="modal-body">
      <p>Está a punto de borrar la actividad {{ entity.name }}. 
          El proceso es irreversible.</p>
    </div>
    <div class="modal-footer">
       <form action="{{ path('backend_activity_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn danger">Borrar</button>
            <a href="#" class="btn secondary" data-dismiss="modal">Cancelar</a>
       </form>
    </div>
</div>

{% endblock %}

{% block sidebar %}

<ul class="nav nav-list">
    <li class="nav-header">Acciones</li>
    <li>
        <a class="nav-item" href="{{ path('backend_activity') }}">
            <i class="icon-home"></i> Volver a la lista
        </a>
    </li>
</ul>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(edit_form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(edit_form) }}
{% endblock %}