{% extends "BackendBundle::layout.html.twig" %}

{% block content %}
<section id="list">
    <div class="page-header">
        <h2>Listado de actividades</h2>
    </div>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha inscrp.</th>
                <th>Fecha actividad</th>
                <th>Plazas</th>
                <th>Inscripciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('backend_activity_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.registrationStartsAt | localeDate('long') }}</td>
                <td>{{ entity.startsAt | localeDate('long') }}</td>
                <td>{{ entity.seats }}</td>
                <td>{{ entity.enrollments | length }}</td>
                <td>
                    <a href="{{ path('backend_activity_show', { 'id': entity.id }) }}"><i class="icon-search"></i> Mostrar</a>
                    <a href="{{ path('backend_enrollment', { 'id': entity.id  }) }}"><i class="icon-inbox"></i> Ver inscripciones</a>
                    <a href="{{ path('backend_activity_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>


{% endblock %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header">Acciones</li>
    <li><a href="{{ path('backend_activity_new') }}"><i class="icon-plus-sign"></i> Crear una nueva actividad</a></li>
</ul>
{% endblock %}