{% extends "BackendBundle::layout.html.twig" %}

{% block content %}

<form class="form-horizontal" action="{{ path('backend_activity_create') }}" method="post" {{ form_enctype(form) }}>
    <legend>Nueva titulación</legend>
    {{ form_widget(form) }}
    <fieldset class="form-actions">
        <button class="primary btn" type="submit">Enviar</button>
    </fieldset>
</form>

{% endblock %}

{% block sidebar %}

<ul class="nav nav-list">
    <li class="nav-header">Acciones</li>
    <li>
        <a class="nav-item" href="{{ path('backend_activity') }}">
            <i class="icon-home"></i> Volver a la lista
        </a>
    </li>
</ul>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}