    <div class="page-header">
        <h2>Listado de titulaciones</h2>
    </div>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th class="postback">{{ pagination.sortable('Usuario', 'u.username')|raw }}</th>
                <th class="postback">{{ pagination.sortable('Nombre', 'u.name')|raw }}</th>
                <th class="postback">{{ pagination.sortable('Apellidos', 'u.lastname')|raw }}</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Titulación</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('backend_user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.phonenumber }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.degree }}</td>
                <td>
                    <a href="{{ path('backend_user_show', { 'id': entity.id }) }}"><i class="icon-search"></i> Mostrar</a>
                    <a href="{{ path('backend_user_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="postback">
        {{ pagination.render()|raw }}
    </div> 