{% extends "BackendBundle::layout.html.twig" %}

{% block content %}
<section id="list">
    {% include 'BackendBundle:User:_index.html.twig' %}       
</section>
        
{% endblock %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header">Acciones</li>
    <li><a href="{{ path('backend_user_new') }}"><i class="icon-plus-sign"></i> Crear un nuevo usuario</a></li>
</ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#list').on('click', '.postback a', function(e) {
        var pagePart = /\?.*/.exec($(this).attr('href'));
        var link='{{ path('backend_user_postback') }}'+pagePart;
        $('#list').load(link, { format: 'html' });
        return false;
        });
    </script>
{% endblock %}