{% extends "BackendBundle::layout.html.twig" %}

{% block content %}

<section id="show">
    <div class="page-header">
        <h2>Mostrar usuario <small>{{ entity.username }}</small>
    </div>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Usuario</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{ entity.phonenumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Titulación</th>
                <td>{{ entity.degree }}</td>
            </tr>
            <tr>
                <th>Curso</th>
                <td>{{ entity.year }}</td>
            </tr>
        </tbody>
    </table>

    <div id="erase" class="modal hide fade" style="display: none;">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">×</a>
            <h3>Borrar titulación</h3>
        </div>
        <div class="modal-body">
        <p>Está a punto de borrar al usuario {{ entity.name }}. 
            El proceso es irreversible.</p>
        </div>
        <div class="modal-footer">
        <form action="{{ path('backend_user_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn danger">Borrar</button>
                <a href="#" class="btn secondary" data-dismiss="modal">Cancelar</a>
        </form>
        </div>
    </div>

</section>

        
{% endblock %}

{% block sidebar %}
    <ul class="nav nav-list">
        <li class="nav-header">
            Acciones
        </li>
        <li>
            <a class="nav-item" href="{{ path('backend_user') }}">
                <i class="icon-home"></i> Volver a la lista
            </a>
        </li>
        <li>
            <a class="nav-item" href="{{ path('backend_user_edit', { 'id': entity.id }) }}">
                <i class="icon-edit"></i> Editar
            </a>
        </li>
        <li>
            <a class="nav-item" data-toggle="modal" href="#erase" >
                <i class="icon-remove"></i> Borrar
            </a>
        </li>
    </ul>
{% endblock %}