{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Formulario de registro {% endblock %}

{% block content %}
<form class="form-horizontal" action="{{ path('my_profile_update') }}" method="post" {{ form_enctype(edit_form) }} autocomplete="off">
    <legend>Editar mi perfil</legend>
    {{ form_widget(edit_form) }}
    <fieldset class="form-actions">
        <button class="btn btn-primary" type="submit">Actualizar</button>
    </fieldset>
</form>
{% endblock %}
