{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Mis cursos{% endblock %}

{% block content %}
<section id="list">
    <div class="page-header">
        <h2>Actividades inscritas</h2>
    </div>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha de inscripción</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('activity_show', { 'slug': entity.activity.slug }) }}">{{ entity.activity.name }}</a></td>
                <td>{{ entity.createdAt | localeDate('long') }}</td>
                <td>
                    {%- if entity.isCancelled %}
                        <span class="label label-important">Cancelada</span>
                    {%  elseif entity.isPaid == false and entity.activity.isFree == false %}
                        <span class="label label-warning">Esperando pago</span>
                    {% else %}
                        <span class="label label-success">Aceptada</span>
                    {% endif -%}
                </td>
                <td>
                    {% if entity.activity.isOpen == true %}
                        <a href="{{ path('activity_unenroll', {'slug': entity.activity.slug }) }}"><i class="icon-remove"></i> Anular</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No tienes ninguna inscripción activa.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
