{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Iniciar sesión{% endblock %}

{% block flash %}
    {% if error %}
<div class="alert alert-block alert-error">
    {{ error.message }}
</div>
    {% endif %}
{% endblock flash %}

{% block content %}
<section>
    <div class="header">
        <h2>Iniciar sesión</h2>
    </div>
     <form class="well" action="{{ path('my_login_check') }}" method="post">
        <label for="username">Usuario:
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </label>
        <label for="password">Contraseña:
            <input type="password" id="password" name="_password" />
        </label>
        <label class="checkbox" for="no_cerrar">
            <input type="checkbox" id="no_cerrar" name="_remember_me" checked /> No cerrar sesión
        </label>  

        <button type="submit" class="btn">Acceder</button>
    </form>
</section>
{% endblock content %}
