{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Formulario de registro{% endblock %}

{% block content %}
<form class="form-horizontal" action="{{ path('my_register') }}" method="post" {{ form_enctype(form) }} autocomplete="off">
    <legend>Registrar nueva cuenta</legend>
    {{ form_widget(form) }}
    <fieldset class="form-actions">
        <button class="btn btn-primary" type="submit">Enviar</button>
    </fieldset>
</form>
{% endblock content %}
