{% extends "FrontendBundle::layout.html.twig" %}

{% block title %}Actividades{% endblock %}

{% block container %}
    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                <img class="hero-icon" src="{{ asset('bundles/core/img/hand_cursor_T.png') }}" >
                <h1>Actividades CEEPS</h1>
                <p>Bienvenido a la web de gestión de actividades del Consejo de Estudiantes de 
                    la Escuela Politécnica Superior (CEEPS). Desde aquí podrás ver nuestras próximas
                    actividades y apuntarte a la que más te interese.</p>
                <p><a class="btn btn-large btn-primary" href="{{ path('activity') }}" >Ver todas las actividades »</a></p>
            </div>
            <hr class="soften">
            <div class="marketing">
            <h1>¿Cómo funciona?</h1>
            <p class="marketing-byline">Consigue inscribirte en nuestras actividades en tres fáciles pasos.</p>
                <div class="row">
                    <div class="span4">
                    <img class="bs-icon" src="{{ asset('bundles/core/img/glyphicons/glyphicons_044_keys.png') }}">
                    <h2>1 Inicia sesión con tu cuenta</h2>
                    <p>Gracias al servicio OpenID de la Universidad de Córdoba y Rediris puedes identificarte 
                        fácilmente con tu cuenta de la UCO. No tendrás que recordar otra clave más. 
                        Y es 100% seguro: nosotros no recibimos tu clave, solo tu identificador OpenID.
                        </p>
                    </div>
                    <div class="span4">
                    <img class="bs-icon" src="{{ asset('bundles/core/img/glyphicons/glyphicons_051_eye_open.png') }}">
                    <h2>2 Busca tu actividad favorita</h2>
                    <p>Podrás ver una lista de todas las actividades disponibles y toda la información
                        sobre la misma de forma fácil y simple. ¡Y también desde tu móvil! Que 
                        no se te pase el plazo porque no encuentras ordenador.</p>
                    </div>
                    <div class="span4">
                    <img class="bs-icon" src="{{ asset('bundles/core/img/glyphicons/glyphicons_150_check.png' ) }}">
                    <h2>3 Regístrate con un click</h2>
                    <p>Como ya has iniciado sesión con tu usuario de la Universidad, no es necesario
                        confirmar tu inscripción para confirmar que eres tú quien la hace, como
                        en nuestro sistema anterior. Solo pulsa sobre el botón de inscripción y listo.
                    </div>
                </div>
            </div>
            <hr class="soften">
            <div class="marketing">
            <p class="marketing-byline">Próximas actividades</p>
                <div class="row">
                    {% for activity in activities %}
                    <div class="span6 post-meta">
                        <h2 class="wrap">
                            <span class="month">{{ activity.startsAt | localeDate('long', 'none', null, 'LLL') }}<span class="year">{{ activity.startsAt | date('Y') }}</span></span>
                            <span class="day">{{ activity.startsAt | date('d') }}</span> <a href="{{ path('activity_show', {'slug': activity.slug }) }}">{{ activity.name }}</a></h2>
                        <p>{{ activity.description | truncate(320) }}</p>
                    </div>
                    {% endfor %}                        
                </div>
            </div>
        </div>
    </div>
{% endblock %}