{% extends "FrontendBundle::layout.html.twig" %}

{% block container %}

<div class="hero-unit">
    <img class="hero-icon" src="{{ asset('bundles/core/img/hand_cursor_T.png') }}" >
    <h1>Oops</h1>
    <p>Ha ocurrido un error inesperado, intenta entrar en la página nuevamente y si el error persiste <a href="http://consejo-eps.uco.es/contactar/">ponte en contacto con nosotros</a>.
    </p>
    <p><a class="btn btn-large btn-primary" href="{{ path('homepage') }}" >Volver »</a></p>
</div>

{% endblock %}
