body { padding-top: 64px; padding-bottom: 40px; }
.sidebar-nav { padding: 9px 0; }

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 54px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

/* Marketing section of Overview
-------------------------------------------------- */
.marketing .row {
  margin-bottom: 9px;
}
.marketing h1 {
  margin: 36px 0 27px;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
.marketing h2,
.marketing h3 {
  font-weight: 300;
}
.marketing h2 {
  font-size: 22px;
}
.marketing p {
  margin-right: 10px;
}
.marketing .bs-icon {
  float: left;
  margin: 7px 10px 0 0;
  opacity: .8;
}
.marketing .small-bs-icon {
  float: left;
  margin: 4px 5px 0 0;
}
.marketing-byline {
  margin: -18px 0 27px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #999;
  text-align: center;
}

/*  Calendar */
.post-meta h2 {
	padding: 3px 0;
}

.post-meta h2 span.day {
	display: block;
	float: left;
	line-height: 28px;
	font-size: 35px;
	border-right: #CBCBCB 1px solid;
	padding-right: 5px;
        padding-left: 5px;
        margin-right: 10px;
	color: #8D8D8D;
}

.post-meta h2 span.month, .post-meta h1 span.year {
	color: #666666;
	width: 40px;
}

.post-meta h2 span.month {
	display: block;
	float: left;
	font-size: 16px;
	line-height: 14px;
	padding-left: 4px;
	text-align: center;
	text-transform: uppercase;
}

.post-meta h2 span.year {
	font-size: 14px;
	display: block;
}

.hero-icon { float: left; margin: 7px 30px 0 0; opacity: .8; }
@media (max-width: 768px) {
    .hero-icon { float: none; display:none; visibility: hidden; }
}
